@each $name, $color in $colors {
  .text-#{$name} {
    color: $color !important;
  }
}
@each $name,$size in  $fsizes{
  .fs-#{$name}{font-size: $size !important;}  
}
@each $name,$size in  $spacers{
  .lh-#{$name}{line-height: $size !important;}  
}
